guide
posts

node_modules/

# Build files
packages/*/lib/

# Vuepress Cache
.cache
notes/.vuepress/.cache/
# Vuepress Temp
.temp
notes/.vuepress/.temp/
# Vuepress Output
dist
notes/.vuepress/dist/
# VS Code Config file
.vscode

# Rollup Cache
.rollup.cache/

# Typescript build info
*.tsbuildinfo

# Coverage Files
coverage/